<div class="alert alert-secondary">
    <a class="btn btn-primary" href="/">Inicio</a>
    &nbsp;&nbsp;
    <a class="btn btn-primary" href="/admin/juegos">Administracion</a>
    &nbsp;&nbsp;

    <a class="btn btn-success" href="/admin/juegos/nuevo">Añadir Juego nuevo</a>

    <a class="btn btn-danger" href="/auth/logout">Logout</a>
    
</div>